form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mat-form-field:first-of-type {
  margin-top: 50px;
}

.mat-form-field {
    width: 300px;
    margin-bottom: 20px;
}

.mat-icon {
  cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}